*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding: 10px;
    background-color: blue;
    color: aliceblue;
    margin: 30px;
}
span{
    color: red;
}
h2{
    padding-left:20px ;
    color: brown;
    font-weight: bold;
    text-align: left;
}
section{
    margin: 0 30px;
    background-color: rgba(152, 237, 245, 0.351);
    padding: 10px;
}
p{
    margin: 10px;
}

#logindetail{
    /* display: block; */
    /* padding: 30px; */
    text-align: center;
}
label{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: blue;
    min-width: 200px;
    text-align: end;
    display: inline-block;
}
input[type="text"],
input[type="password"],
input[type="email"]{
    margin-left:10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.pp{
    display: flex;
    justify-content: space-around;
}
.divi{
    width: 45%;
}
#pp-1,#ap{
    text-align: right;
}
#pp-2,#ap1{
    text-align: left;
}
select{
    margin-left:10px;
    padding: 10px;
    width: 191px;
    height: 37px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.tnc{
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 15px;
    color: blue;
}
.btns{
    text-align: center; 
}
.btn{
    margin: 5px;
    font-size: 15px;
    padding: 7px;
    color: blue;
    border-radius:5px ;
    border: 1px solid blue ;
    text-transform: uppercase;
}
#submit:hover{
    background-color: blue;
    color: aliceblue;
}
#reset:hover{
    background-color: rgb(79, 22, 24);
    color: aliceblue;
}


@media screen and (max-width: 528px) {
    h1{
        margin:20px 10px;
    }
    section{
        margin:0 10px ;
    }
    #logindetail{
        text-align: left;
    }
    label{
        text-align: left;
        min-width: 174px;
    }
    .pp{
        flex-direction: column;
    }
    .divi{
        width: auto;
    }
    #pp-1,#ap{
        text-align: left;
    }
    #logindetail,#pp-1,#pp-2,#ap,#ap1{
        text-align: center;
    }
    
}